* {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.hero {
   width: 100%;
   height: 54px; 
   font-size: 13px;
   line-height: 20px;
   display: flex;
   background: white;
}
.hero1{
    width: 137px;
    height: 54px;
    margin-left: 76px;
    padding: 13px 19px 18px 10px;
}   
.hero1 img{
    width: 108px;
    height: 23px;
}
.hero2{
    width: 859px;
    height: 39px;
    margin-left: 2px;
    padding-top: 15px;
    list-style-type: none;
    display: flex;
    
}
.hero2 nav{
    width: fit-content;
    margin-left: 20px;
}
.hero2 nav:hover{
    
    border-bottom-style: solid;
    border-bottom-width: 2px;
    width: fit-content; 
    width: auto;
}
.hero3{
    width: 368px;
    height: 54px;
    display: flex;
}
.hero3 div{
    margin-top: 15px;
    margin-right: 27px;
}
.c1,.c2, .c3{
    width: fit-content;
    height: 25px;
   
}
.c1:hover, .c2:hover, .c3:hover{
    border-bottom-style: solid;
    border-bottom-width: 3px;
    width: fit-content;
}
.c4{
    display: flex;
}
.c4 img{
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: -5px;
}
.section1{
    width: 1519px;
    height: 480px;
    margin-left: 5px;
    margin-right: 10px;
    background-image: url(cars.avif);
    background-size: cover;
    padding-left: 75px;
    padding-top: 72px; 
}
.s1-main{
    width: 452px;
    height: 352px;
    padding: 48px;
    background: white;
}
.s1-in{
    width: 356px;
    height: 256px;
}
.b1{
    width: 56px;
    height: 28px;
    border-style: none;
    font-size: 16px;
    font-weight: 500;
    background: #ffb900;
}
.s1-main h1{
    font-size: 37px;
    font-weight: 500;
    margin-top: 0;
}
.s1-main p{
    font-size: 16px;
    margin-top: -10px;
}
.b2{
    width: 196px;
    height: 39px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: white;
    border-style: none;
    background: #0067b8;
    margin-top: 10px;
}
.sec{
    width: 1367px;
    height: 104px;
    margin-left: 74px;
    margin-top: 120px;
    text-align: center;
    display: flex;
}
.d1{
    margin-left: 250px;
}
.sec div{
    font-size: 16px;
    line-height: 24px;
    padding-right: 50px;
} 
.section2{
    width: 100%;
    height: 411px;
    margin-top: 50px;
    display: flex;
    
}
.section2 img{
    width: 324px;
    height: 181px;
}
.s-a1{
    width: 347px;
    height: 411px;
    margin-left: 72px;
    padding: 12px;
}
.s-a2{
    width: 347px;
    height: 411px;
    padding: 12px;
}
.s-a3{
    width: 347px;
    height: 411px;
    padding: 12px;
}
.s-a4{
    width: 347px;
    height: 411px;
    padding: 12px;
}
.section2 a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.section3,.section-3{
    width: 100%;
    height: 514px;
    margin-top: 65px;
}
.section3-a1{
    width: 1367px;
    height: 514px;
    background-image: url(section3.avif);
    margin-left: 72px;
    padding-top: 123px;
    background-size: cover;
}
.section3-in{
    width: 416px;
    height: 268px;
    margin-left: 116px;
}
.section3-in h1,.section-3-in h1 {
    font-size: 37px;
    font-weight: 500;
    margin-top: 0;
}
.section3-in p,.section-3-in p{
    font-size: 16px;
    margin-top: -15px;
}
.section3-in button{
    width: 196px;
    height: 39px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: white;
    border-style: none;
    background: #0067b8;
    margin-top: 10px;
}
.demo{
    width: 1367px;
    height: 44px;
    font-size: 37px;
    font-weight: 500;
    margin-top: 56px;
    padding-top: 20px;
    margin-left: 76px;
}
.b2-a{
    width: 342px;
    height: 39px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: white;
    border-style: none;
    background: #0067b8;
    margin-top: 10px;
}
.section-3-in{
    width: 512px;
    height: 340px;
    margin-left: 68px;
    margin-top: -35px;
    padding: 48px;
    background: white;
}
.section-3-a1 {
    width: 1367px;
    height: 514px;
    background-image: url(section3-2.0.avif);
    margin-left: 72px;
    padding-top: 123px;
    background-size: cover;
}
.demo1{
    width: 1367px;
    height: 32px;
    margin: 63px  76px;
    display: flex;
  
}
.demo1 img{
    height: 32px;
    margin-left: 20px;
}
.demo1 p{
    margin-top: 5px;
}
.footer1 {
    width: 100%;
    height: 316px;
    display: flex;
    color: #616161;
    background: #f2f2f2;
}
.footer1 h3{
    margin-top: 45px;
    font-size: 16px;
}
.footer1 li{
    font-size: 11px;
    margin-bottom: 16px;
    list-style-type: none;
}
.f1{
    width: 210px;
    height: 252px;
    margin-left: 76px;
}

.footer1 div{
    width: 210px;
    margin-right: 10px;
}
.footer1 li:hover{
    text-decoration: underline;
}
.footer2{
    width: 100%;
    height: 72px;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    color: #616161;
    background: #f2f2f2;
}
.lf{
    margin-left: 76px;
    margin-top: 30px;
    display: flex  
}
.lf p{
    margin-left: 10px;
    margin-top: 5px;
}
.rf{
    display: flex;
    margin-right: 76px;
    margin-top: 30px;
}
.rf nav{
    margin-right: 24px;
}